<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="C:\Users\vst04\Desktop\yolo v5 testing\examguard\static\css\styles.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>EXAM GUARD</title>
    <script type="module" src="login.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo" />
            <span>EXAM GUARD</span>
          </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('about') }}">About</a>
      </ul>
    </nav>
    <header class="header__container">
      <div class="header__image">
        <img src="{{ url_for('static', filename='assets/header.png') }}" alt="logo" />
      </div>
      <div class="header__content">
        <h1>
            Better, Safer, Secure
          </h1>
          <h2 class="subtitle">
            Guarding integrity in every exam classroom.
          </h2>
        <p>
            AI Monitoring:&nbsp;  Detect cheats.<br>
            Seat Count:&nbsp;  Track occupancy.<br>
            Instant Alerts:&nbsp;  Notify proctors.<br>
            Movement Tracking:&nbsp;  Spot unusual activity.<br>
            Reports:&nbsp;  Flag incidents.<br>
        </p>
        <div class="header__btn">
          <a href="{{ url_for('login') }}" class="btn">GET STARTED</a>
        </div>
        
        <ul class="socials">
          <li>
            <a href="#"><i class="ri-facebook-circle-fill"></i></a>
          </li>
          <li>
            <a href="#"><i class="ri-twitter-fill"></i></a>
          </li>
          <li>
            <a href="#"><i class="ri-youtube-fill"></i></a>
          </li>
        </ul>
        <div class="header__bar">
          © EXAM GUARD
        </div>
      </div>
    </header>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>